body {
    margin: 0;
}
/* 12----css----- */
/* 方式二：普通写法 */
#root .title {
    font-size: 24px;
    font-weight: 800;
    color: red
}
/* 11----portal---- */
#modal {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-style {
    background-color: rgb(65, 240, 150);
}
/* 04-----NavBar----- */
.nav-bar {
    display: flex;
    flex-direction: row;
}
.nav-bar .nav-item {
    text-align: center;
}
.nav-bar .nav-item.nav-left {
    width: 20%;
}
.nav-bar .nav-item.nav-center {
    width:50%;
}
.nav-bar .nav-item.nav-right {
    width: 30%;
}
/* 04-----TabControl----- */
.tab-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tab-item {
    padding: 5px 10px;
}
.tab-item.active {
    color: red;
    border-bottom: 2px solid red;
}